.p {
  font-size: 10px;
}

#GameInfo {
  position: absolute;
  top: 8px;
  left: 290px;
  font-size: 1.2em;
  margin-bottom: 10px;
}

#NextPiece {
  border: 10px solid darkblue;
  border-radius: 20px;
  height: 80px;
  width: 120px;
}

#TextWrapper {
  padding-top: 10px;
}